<html>
    <head>
        <title>ENTRE E VEJA</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.youtube.com/watch?v=PMYbePN0M-M">ESCOPO SITE </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Super nintendo vs PC</a></h2>
            <p>ROMANCE XI</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">PC ESTRATEGIAS</a></h2>
            <p>HEROES 2</p>
        </div>
    </body>
</html>